<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>block_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>game_frame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{1024,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,114}}</string>
                <key>sourceSize</key>
                <string>{1024,114}</string>
            </dict>
            <key>stage9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{118,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_state_9.png</string>
            <key>size</key>
            <string>{122,1220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8f25718c7947b2344c0b3010e338ef$</string>
            <key>textureFileName</key>
            <string>game_state_9.png</string>
        </dict>
    </dict>
</plist>
