<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fastBuy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,214}}</string>
                <key>sourceSize</key>
                <string>{120,214}</string>
            </dict>
            <key>fastBuy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{120,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,214}}</string>
                <key>sourceSize</key>
                <string>{120,214}</string>
            </dict>
            <key>fastBuy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,214}}</string>
                <key>sourceSize</key>
                <string>{120,214}</string>
            </dict>
            <key>pause_item0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,124},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pause_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>pause_item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>pause_item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_pause.png</string>
            <key>size</key>
            <string>{444,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c43af96d95e0f11db4356ca0d90b03b2$</string>
            <key>textureFileName</key>
            <string>game_pause.png</string>
        </dict>
    </dict>
</plist>
