<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{128,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,87}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coolDownFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{128,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,86}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{128,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,87}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>game_bg_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,114}}</string>
                <key>sourceSize</key>
                <string>{1024,114}</string>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{128,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,87}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>timing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_common.png</string>
            <key>size</key>
            <string>{118,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb3ccdd1abdf07883303917b541b1e1$</string>
            <key>textureFileName</key>
            <string>game_common.png</string>
        </dict>
    </dict>
</plist>
