<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ingame_level_leaf0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,18}</string>
			<key>spriteSourceSize</key>
			<string>{20,18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221,1},{20,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>level_help_finished_holo0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286,104},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>level_help_finished_icon0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,31}</string>
			<key>spriteSourceSize</key>
			<string>{38,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246,125},{38,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>npc_icon_20000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,111}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,111}</string>
			<key>spriteSourceSize</key>
			<string>{115,111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130,135},{115,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>npc_small_10000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,130}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{127,130}</string>
			<key>spriteSourceSize</key>
			<string>{127,130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,135},{127,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>p_small_rope0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,35}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{8,35}</string>
			<key>spriteSourceSize</key>
			<string>{8,35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{301,158},{8,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>small_p_background0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,132}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,132}</string>
			<key>spriteSourceSize</key>
			<string>{218,132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,1},{218,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>small_p_board_bg0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,54}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,54}</string>
			<key>spriteSourceSize</key>
			<string>{58,54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221,69},{58,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>small_p_board_hi_bg0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{280,69},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>small_p_fabric0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,50}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{299,50}</string>
			<key>spriteSourceSize</key>
			<string>{299,50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,266},{299,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>small_p_replace_content0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286,133},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>target_panel_tile_bg0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,66}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,66}</string>
			<key>spriteSourceSize</key>
			<string>{68,66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246,1},{68,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>time_background0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,80}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,80}</string>
			<key>spriteSourceSize</key>
			<string>{112,80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,318},{112,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{316,398}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>target_helper@2x.png</string>
			<key>premultipliedAlpha</key>
			<true/>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>textureFileName</key>
			<string>target_helper</string>
		</dict>
	</dict>
</dict>
</plist>
