<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{112,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,83}}</string>
                <key>sourceSize</key>
                <string>{112,83}</string>
            </dict>
            <key>block_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>game_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{1024,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,114}}</string>
                <key>sourceSize</key>
                <string>{1024,114}</string>
            </dict>
            <key>stage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_state_7.png</string>
            <key>size</key>
            <string>{128,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5356a2004af318c0fd8cdd414723954$</string>
            <key>textureFileName</key>
            <string>game_state_7.png</string>
        </dict>
    </dict>
</plist>
