<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{246,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_1_bw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,254}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{246,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,750},{246,248}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_2_bw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{246,248}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,252},{248,250}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{248,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_3_bw.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{248,250}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{248,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,248}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>player_4_bw.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,502},{246,248}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>register_player.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e91e2608a295497be640ad463feca36e$</string>
            <key>textureFileName</key>
            <string>register_player.png</string>
        </dict>
    </dict>
</plist>
