<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_end_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,551},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>counter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,725},{143,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,170}}</string>
                <key>sourceSize</key>
                <string>{143,170}</string>
            </dict>
            <key>counter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{167,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,172}}</string>
                <key>sourceSize</key>
                <string>{167,172}</string>
            </dict>
            <key>counter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{144,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,170}}</string>
                <key>sourceSize</key>
                <string>{144,170}</string>
            </dict>
            <key>findThisBoard_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,124}}</string>
                <key>sourceSize</key>
                <string>{395,124}</string>
            </dict>
            <key>findThisBoard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{395,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,122}}</string>
                <key>sourceSize</key>
                <string>{395,122}</string>
            </dict>
            <key>objCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{380,297}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{380,297}}</string>
                <key>sourceSize</key>
                <string>{390,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_indicate.png</string>
            <key>size</key>
            <string>{399,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25d13309b5d2ff2abe74c1b19efd2df5$</string>
            <key>textureFileName</key>
            <string>task_indicate.png</string>
        </dict>
    </dict>
</plist>
