<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assert/dfsagrg0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,32}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,32}</string>
			<key>spriteSourceSize</key>
			<string>{69,32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108,115},{69,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>assert/faewwe0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,50}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{106,50}</string>
			<key>spriteSourceSize</key>
			<string>{106,50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,69},{106,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>assert/gabdff0000</key>
        <dict>
                			<key>aliases</key>
                			<array>
                			</array>
                			<key>sourceColorRect</key>
                			<string>{{0,0},{26,72}}</string>
                			<key>spriteOffset</key>
                			<string>{0,0}</string>
                			<key>spriteSize</key>
                			<string>{26,72}</string>
                			<key>spriteSourceSize</key>
                			<string>{26,72}</string>
                			<key>spriteTrimmed</key>
                			<false/>
                			<key>textureRect</key>
                			<string>{{276,1},{26,72}}</string>
                			<key>textureRotated</key>
                			<false/>
                		</dict>
        <key>assert/shucong 副本0000</key>
        		<dict>
        			<key>aliases</key>
        			<array>
        			</array>
        			<key>sourceColorRect</key>
        			<string>{{0,0},{172,66}}</string>
        			<key>spriteOffset</key>
        			<string>{0,0}</string>
        			<key>spriteSize</key>
        			<string>{172,66}</string>
        			<key>spriteSourceSize</key>
        			<string>{172,66}</string>
        			<key>spriteTrimmed</key>
        			<false/>
        			<key>textureRect</key>
        			<string>{{1,1},{172,66}}</string>
        			<key>textureRotated</key>
        			<false/>
        		</dict>
        <key>moveortimecounterbg0000</key>
        		<dict>
        			<key>aliases</key>
        			<array>
        			</array>
        			<key>sourceColorRect</key>
        			<string>{{0,0},{100,112}}</string>
        			<key>spriteOffset</key>
        			<string>{0,0}</string>
        			<key>spriteSize</key>
        			<string>{100,112}</string>
        			<key>spriteSourceSize</key>
        			<string>{100,112}</string>
        			<key>spriteTrimmed</key>
        			<false/>
        			<key>textureRect</key>
        			<string>{{175,1},{100,112}}</string>
        			<key>textureRotated</key>
        			<false/>
        		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{305,155}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>gamePlaySceneUI@2x.png</string>
			<key>premultipliedAlpha</key>
			<true/>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>textureFileName</key>
			<string>gamePlaySceneUI</string>
		</dict>
	</dict>
</dict>
</plist>
