<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background_branch0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{322,143}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{322,143}</string>
				<key>spriteSourceSize</key>
				<string>{322,143}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,5},{322,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>branch_light_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,65}</string>
				<key>spriteSourceSize</key>
				<string>{320,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{367,153},{320,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>darkstar.png0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,21}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,21}</string>
				<key>spriteSourceSize</key>
				<string>{20,21}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,223},{20,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourStar_glowing_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{375,131}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{375,131}</string>
				<key>spriteSourceSize</key>
				<string>{375,131}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,5},{375,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourstar_leaf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,22}</string>
				<key>spriteSourceSize</key>
				<string>{39,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{883,59},{39,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourstar_shining0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{357,114}</string>
				<key>spriteSourceSize</key>
				<string>{357,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,141},{357,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lady_bug_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,37}</string>
				<key>spriteSourceSize</key>
				<string>{38,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{864,202},{38,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_intro_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,32}</string>
				<key>spriteSourceSize</key>
				<string>{33,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{641,223},{33,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_intro_npc0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{74,96}</string>
				<key>spriteSourceSize</key>
				<string>{74,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,5},{74,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,49}</string>
				<key>spriteSourceSize</key>
				<string>{57,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{883,5},{57,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,49}</string>
				<key>spriteSourceSize</key>
				<string>{55,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{935,59},{55,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,36}</string>
				<key>spriteSourceSize</key>
				<string>{26,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{978,167},{26,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lb_content_replacer0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{641,264},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lb_point0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{791,91},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_colors0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,3}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,3}</string>
				<key>spriteSourceSize</key>
				<string>{42,3}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,143},{42,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_highlight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{74,8}</string>
				<key>spriteSourceSize</key>
				<string>{74,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,130},{74,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_ico0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,14}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,14}</string>
				<key>spriteSourceSize</key>
				<string>{26,14}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{485,223},{26,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,19}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,19}</string>
				<key>spriteSourceSize</key>
				<string>{80,19}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{712,106},{80,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_overlay0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,81}</string>
				<key>spriteSourceSize</key>
				<string>{87,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{791,5},{87,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,37}</string>
				<key>spriteSourceSize</key>
				<string>{38,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{809,240},{38,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_disable_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,38}</string>
				<key>spriteSourceSize</key>
				<string>{38,38}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{935,167},{38,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_help_button_g0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,31}</string>
				<key>spriteSourceSize</key>
				<string>{31,31}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{367,223},{31,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_list_add0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,23}</string>
				<key>spriteSourceSize</key>
				<string>{23,23}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{432,223},{23,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_list_selected0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,89}</string>
				<key>spriteSourceSize</key>
				<string>{89,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{547,223},{89,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{537,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{537,46}</string>
				<key>spriteSourceSize</key>
				<string>{537,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,260},{537,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_branchs_leaf10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,106}</string>
				<key>spriteSourceSize</key>
				<string>{51,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{879,91},{51,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_branchs_leaf20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,29}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,29}</string>
				<key>spriteSourceSize</key>
				<string>{22,29}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{992,113},{22,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_item_bg_normal10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{78,82}</string>
				<key>spriteSourceSize</key>
				<string>{78,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{726,264},{78,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_item_bg_normal20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,79}</string>
				<key>spriteSourceSize</key>
				<string>{75,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{799,91},{75,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_label_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,0},{19,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{19,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{995,59},{19,24}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>props_pedicle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,18}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,18}</string>
				<key>spriteSourceSize</key>
				<string>{17,18}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{995,88},{17,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_handle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,13}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,13}</string>
				<key>spriteSourceSize</key>
				<string>{4,13}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{799,240},{4,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_normal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,49}</string>
				<key>spriteSourceSize</key>
				<string>{52,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{935,113},{52,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,49}</string>
				<key>spriteSourceSize</key>
				<string>{54,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{945,5},{54,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>temp_bg_label0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{403,223},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>加星闪光0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,106}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,106}</string>
				<key>spriteSourceSize</key>
				<string>{102,106}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,153},{102,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>渐变黄0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{799,175},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,400}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>ladybug@2x.png</string>
				<key>textureFileName</key>
				<string>ladybug@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
