<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>amazing_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,270},{186,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,70}}</string>
			<key>sourceSize</key>
			<string>{186,70}</string>
		</dict>
		<key>bonustime_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,203},{240,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,65}}</string>
			<key>sourceSize</key>
			<string>{240,65}</string>
		</dict>
		<key>commonloadingclose instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{233,307},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>excellent_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,342},{181,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,63}}</string>
			<key>sourceSize</key>
			<string>{181,63}</string>
		</dict>
		<key>good_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{184,342},{130,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,60}}</string>
			<key>sourceSize</key>
			<string>{130,60}</string>
		</dict>
		<key>great_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{184,403},{131,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,57}}</string>
			<key>sourceSize</key>
			<string>{131,57}</string>
		</dict>
		<key>loading_ico_1 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{142,406},{40,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,45}}</string>
			<key>sourceSize</key>
			<string>{40,45}</string>
		</dict>
		<key>loading_ico_2 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{96,406},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>loading_ico_3 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{256,179},{43,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,45}}</string>
			<key>sourceSize</key>
			<string>{43,45}</string>
		</dict>
		<key>loading_ico_4 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{256,132},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>loading_ico_5 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,406},{46,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,45}}</string>
			<key>sourceSize</key>
			<string>{46,45}</string>
		</dict>
		<key>loading_ico_6 instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{48,406},{46,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,45}}</string>
			<key>sourceSize</key>
			<string>{46,45}</string>
		</dict>
		<key>loading_ico_circle instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{233,270},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>loading_ico_rect instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{188,270},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>loading_ico_turn instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{188,315},{22,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,24}}</string>
			<key>sourceSize</key>
			<string>{22,24}</string>
		</dict>
		<key>title_star_shine instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{301,132},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>title_text_overlay instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{313,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,130}}</string>
			<key>sourceSize</key>
			<string>{313,130}</string>
		</dict>
		<key>unbelievable_icon instance 10000</key>
		<dict>
			<key>frame</key>
			<string>{{1,132},{253,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,70}}</string>
			<key>sourceSize</key>
			<string>{253,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>title_text@2x.png</string>
		<key>size</key>
		<string>{316,462}</string>
		<key>textureFileName</key>
		<string>title_text@2x.png</string>
	</dict>
</dict>
</plist>
