<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1292},{288,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,254}}</string>
                <key>sourceSize</key>
                <string>{288,254}</string>
            </dict>
            <key>theme_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{287,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,254}}</string>
                <key>sourceSize</key>
                <string>{287,254}</string>
            </dict>
            <key>theme_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1292},{288,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,254}}</string>
                <key>sourceSize</key>
                <string>{288,254}</string>
            </dict>
            <key>theme_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,518},{289,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,256}}</string>
                <key>sourceSize</key>
                <string>{289,256}</string>
            </dict>
            <key>theme_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{299,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,256}}</string>
                <key>sourceSize</key>
                <string>{299,256}</string>
            </dict>
            <key>theme_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,260},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,260},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{309,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,256}}</string>
                <key>sourceSize</key>
                <string>{309,256}</string>
            </dict>
            <key>theme_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{309,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,256}}</string>
                <key>sourceSize</key>
                <string>{309,256}</string>
            </dict>
            <key>theme_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{305,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,256}}</string>
                <key>sourceSize</key>
                <string>{305,256}</string>
            </dict>
            <key>theme_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,518},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1548},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,518},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,256}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>theme_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,256}}</string>
                <key>sourceSize</key>
                <string>{312,256}</string>
            </dict>
            <key>theme_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{308,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,256}}</string>
                <key>sourceSize</key>
                <string>{308,256}</string>
            </dict>
            <key>theme_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,260},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,260},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,518},{296,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,256}}</string>
                <key>sourceSize</key>
                <string>{296,256}</string>
            </dict>
            <key>theme_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,518},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1324},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1292},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1292},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1840},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1292},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1806},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1806},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1066},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1550},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1550},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,260},{299,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,256}}</string>
                <key>sourceSize</key>
                <string>{299,256}</string>
            </dict>
            <key>theme_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,518},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{298,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,256}}</string>
                <key>sourceSize</key>
                <string>{298,256}</string>
            </dict>
            <key>theme_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1550},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,808},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1582},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>theme_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1548},{287,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,256}}</string>
                <key>sourceSize</key>
                <string>{287,256}</string>
            </dict>
            <key>theme_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,776},{288,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,256}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>theme.png</string>
            <key>size</key>
            <string>{2032,2098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c5038795de435b3c75c29571ca383b$</string>
            <key>textureFileName</key>
            <string>theme.png</string>
        </dict>
    </dict>
</plist>
