<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{510,136}}</string>
                <key>sourceSize</key>
                <string>{510,140}</string>
            </dict>
            <key>brush.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>coinImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{244,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b0a8f2789ef1b71b56ab57b74cbb667$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
