<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,266},{148,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>btnBackPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,266},{148,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>btnvoiceoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,520},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>btnvoiceon.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,464},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,72}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>nextLevelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,134},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>optionBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,416},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>optionBgLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,360},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{28,29}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>restartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>shareScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,68},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,200},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{504,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc54f075728a47c8d192fd52828e592$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
