<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animal_score_point0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,25}</string>
				<key>spriteSourceSize</key>
				<string>{25,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,107},{25,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>color_bird_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,9}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,154},{8,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>colorbird_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,34}</string>
				<key>spriteSourceSize</key>
				<string>{34,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{257,235},{34,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,100}</string>
				<key>spriteSourceSize</key>
				<string>{59,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{433,0},{59,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,100}</string>
				<key>spriteSourceSize</key>
				<string>{87,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,0},{87,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,100}</string>
				<key>spriteSourceSize</key>
				<string>{82,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{349,0},{82,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_go0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,105}</string>
				<key>spriteSourceSize</key>
				<string>{156,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{156,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,136}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,136}</string>
				<key>spriteSourceSize</key>
				<string>{10,136}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,0},{10,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,130}</string>
				<key>spriteSourceSize</key>
				<string>{19,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{491,226},{19,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{295,230},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{338,230},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{381,230},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,231},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{43,231},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,235},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{86,236},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,236},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{257,284},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,284},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{343,284},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,285},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{43,285},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{386,288},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{429,288},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,289},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{86,290},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{129,290},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{257,338},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{300,338},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{343,338},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,339},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{43,339},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{386,342},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{429,342},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>game_collect_small_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{146,157},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>head_image_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{302,102},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_glow_circle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,41}</string>
				<key>spriteSourceSize</key>
				<string>{41,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{172,343},{41,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{433,102},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,107},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{63,107},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{433,164},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{302,168},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{365,168},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,169},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{63,169},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{232,173},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,174},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{428,226},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_sunshine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,98}</string>
				<key>spriteSourceSize</key>
				<string>{100,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,0},{100,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prefix_halo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,69}</string>
				<key>spriteSourceSize</key>
				<string>{68,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{232,102},{68,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,154},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,11}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,11}</string>
				<key>spriteSourceSize</key>
				<string>{10,11}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{146,134},{10,11}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,72}</string>
				<key>spriteSourceSize</key>
				<string>{72,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{158,100},{72,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,126}</string>
				<key>spriteSourceSize</key>
				<string>{23,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{189,174},{23,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,41}</string>
				<key>spriteSourceSize</key>
				<string>{40,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{86,344},{40,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,87}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,87}</string>
				<key>spriteSourceSize</key>
				<string>{19,87}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,343},{19,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,71}</string>
				<key>spriteSourceSize</key>
				<string>{13,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,138},{13,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_big0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,8}</string>
				<key>spriteSourceSize</key>
				<string>{9,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{146,147},{9,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_dust0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{3,3}</string>
				<key>spriteSourceSize</key>
				<string>{3,3}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{153,107},{3,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_high_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,64}</string>
				<key>spriteSourceSize</key>
				<string>{63,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,102},{63,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_shine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,18}</string>
				<key>spriteSourceSize</key>
				<string>{18,18}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,134},{18,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>home_effects@2x.png</string>
				<key>textureFileName</key>
				<string>home_effects@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
