<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,138},{16,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,1024}}</string>
                <key>sourceSize</key>
                <string>{16,1024}</string>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,695},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,695},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>eye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>eye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{200,222}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{200,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{438,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,120}}</string>
                <key>sourceSize</key>
                <string>{438,120}</string>
            </dict>
            <key>jumping_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,798},{517,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,139}}</string>
                <key>sourceSize</key>
                <string>{517,139}</string>
            </dict>
            <key>queen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,380},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>retry_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{324,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,94}}</string>
                <key>sourceSize</key>
                <string>{324,94}</string>
            </dict>
            <key>retry_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,456},{340,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,110}}</string>
                <key>sourceSize</key>
                <string>{340,110}</string>
            </dict>
            <key>score_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,254}}</string>
                <key>sourceSize</key>
                <string>{462,254}</string>
            </dict>
            <key>start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{330,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,105}}</string>
                <key>sourceSize</key>
                <string>{330,105}</string>
            </dict>
            <key>start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{340,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,110}}</string>
                <key>sourceSize</key>
                <string>{340,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{500,1317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e714f9009695a0aa5a76db119e0002f$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
