<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>download_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,178},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{140,48}</string>
            </dict>
            <key>download_download.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{174,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,60}}</string>
                <key>sourceSize</key>
                <string>{174,60}</string>
            </dict>
            <key>download_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>download.png</string>
            <key>size</key>
            <string>{466,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:545fd739750a7be662b40fc69944a898$</string>
            <key>textureFileName</key>
            <string>download.png</string>
        </dict>
    </dict>
</plist>
